@import "~@blueprintjs/core/lib/css/blueprint.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stage-title {
  font-size: 1.2em;
  font-weight: 700;
}

.stages-wrapper {
  display: flex;  
  width: 1200px;
  margin: 0 auto;  
}

.bp3-card {
  width: calc(25% - 20px);
}

.bp3-card {  
  margin: 10px;
}